openai-clip
fastapi==0.111.0
numpy
opencv_python==4.8.0.76
opencv_python_headless==4.10.0.82
Pillow==10.3.0
pinecone==4.0.0
python-dotenv==1.0.1
rembg
scikit_learn
scipy==1.13.1
uvicorn==0.30.1
pytorch
torchvision 